.cover__subtitle{
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    width: 560px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}