.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 600px){
    .footer{
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__links{
        flex-direction: column;
        gap: 32px;
    }

    .footer__copyright{
        margin-top: 48px;
    }

}

@media screen and (max-width: 320px){
    .footer{
        padding: 24px 16px;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__links{
        flex-direction: column;
        gap: 32px;
    }

    .footer__copyright{
        margin-top: 48px;
    }

}