.cover{
    position: relative;
    margin-bottom: 92px;
    text-align: center;

}

@media screen and (max-width: 320px){
    .cover__title{
        font-size: 32px;
        line-height: 35px;
    }

    .cover__subtitle{
        font-size: 14px;
        line-height: 16px;
    }

}